@media (max-width: 1250px) {
  /* *************** SOBRE *************** */
  .about {
    height: auto;
  }
  
  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-content p {
    order: 2;
    border: 3px solid brown;
    width: 800px;
    flex-shrink: 1;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .paragraph {
    padding: 0;
    margin: 0;
  }

  .about-img {
    border: 3px solid salmon;
    order: 1;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
  }

  .about-img img {
    border: 3px solid blue;
    width: 50%;
    height: auto;
    flex-shrink: 1;
  }
  /* fim sobre */

  .all-services {
    
  }

  .service-container {
    width: 350px;
  }
}